.customize-button {
    background-color: navy;
    color: white;
    border: none;
    padding: 25px 25px;
    margin-top: 25px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }

.customize-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1a3a5e; /* Navy blue */
    color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 40%; /* Adjust the width as needed */
  }
  
  .customize-overlay {
    background-color: rgba(173, 216, 230, 0.5); /* Light blue overlay */
  }
  
  .modal-content {
    max-width: 400px;
    margin: 0 auto;
  }
  
  .modal-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .modal-label {
    display: block;
    margin-bottom: 10px;
  }
  
  .modal-input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff; /* White input background */
    color: #333;
  }
  
  .modal-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }
  
  .final-button {
    background-color: darkblue; /* Green button */
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    align-items: center;
    display: center;
    margin-left: 50px;
  }

  .final-button1:hover {
    background-color: lightblue;
  }