.lessons-cont{
    background-color: aquamarine; /*Just to visualize bg*/ 
}

.lessons{
    background-color: gray;
    color:white;
    width:45%;
    height:30%;
    padding:2.5%;
    border-radius:10px;
}